body {
  margin: 0px 0px;
  height:100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/35431169_1725571377510779_3803552612758847488_n.jpg?_nc_cat=109&oh=6d5af52be9f5d89b8ad47fef1ad2de9c&oe=5C16B438");
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  display: flex;
  margin-left: 40%;
  margin-top:18%;
}
.subscribe-button{
  border-radius: 9px;
  background: rgb(110, 97, 228);
  padding: 2px 15px;
  font-size: 1.5em;
}
.home-title{
 text-align:center;
 margin-top: 30%;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: white;
}

@media all and (max-width:550px) and (min-width:0px)  {
  p {
    font-size: 4em;
  }
  .home-title{
    margin-top: 40%;
   }
   .button {
    margin-left: 35%;
    margin-top:50%;
  }
}